	h4{
color: #4b5358;
font-family: "Malgun Gothic";
font-size: 13px;
font-weight: bold;
/*text-transform: uppercase;*/
	}

	.header{
		display: flex;
		justify-content: space-between;
		
	}
	.logo_implant{
	  font-size: 42px;
	  font-family: "MyriadPro";
	  color: rgb(0, 95, 139);
	  text-transform: uppercase;
	  line-height: 1.2;
	  text-align: center;
	  -moz-transform: matrix( 1.02560610348735,0,0,1.01964230059238,0,0);
	  -webkit-transform: matrix( 1.02560610348735,0,0,1.01964230059238,0,0);
	  -ms-transform: matrix( 1.02560610348735,0,0,1.01964230059238,0,0);

}

.logo_servis{
	  font-size: 34.623px;
	  font-family: "Corbel";
	  color: rgb(61, 200, 189);
	  line-height: 1.2;
	  text-align: center;
	  -moz-transform: matrix( 1.02560610348735,0,0,1.01964230059238,0,0);
	  -webkit-transform: matrix( 1.02560610348735,0,0,1.01964230059238,0,0);
	  -ms-transform: matrix( 1.02560610348735,0,0,1.01964230059238,0,0);
	  text-align: right;
}

.social{
	text-align: right;
}
.ul_social>li>a{
	height: 25px;
	width: 25px;
	/*background: red;*/
	margin: 5px;

}
.ul_social>li{
	display: flex;
	 display: inline-flex;
	 /*display: inline-block;*/
	 /*flex-wrap: nowrap;*/
}

.ul_social a{			
			background: url('../img/css_sprites.png');
}

		.ul_social li a{
			background-position: -130px -10px;
		}
		.ul_social li+li a{
			background-position: -175px -10px;
		}
		.ul_social li+li+li a{
			background-position: -220px -10px;
		}
		.ul_social li+li+li+li a{
			background-position: -220px -10px;
		}
		.navbar_ul{

		}
		.navbar_ul>li>a:hover{
			color: red;
		}
		.language{
			 font-size: 15px;
  font-family: "OpenSans";
  color: rgb(21, 96, 139);
  text-transform: uppercase;
  line-height: 1.2;
		}
		.nav_border{
			/*width: 16800px;*/
			box-shadow: 0 1px 5px rgba(226, 230, 233, 0.5);
			background-color: #ffffff;
		}
		.nav-item{
			/*padding: 5px 15px 5px 15px;*/
			padding-left: 15px;
			padding-right: 15px;
		}
		.my_slider{
			background: #fbfcfc;
			background-image: linear-gradient(to bottom, rgba(222, 229, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
			background-image: url('../img/bg_slyde1.png');
			/*position: relative;*/
			/*overflow: hidden;*/
			background-repeat:repeat-x;
			background-position: bottom;
		}

.item{
	position: relative;
}
		.temp{
			position: absolute;
			/*background: red;*/
			/*background-image: url('../img/slider_mask.png');*/
				width: 100px;
				 /*height: 100%; */
				 max-height: 446px;
				 color: green;
				 /*z-index: 135;*/
				 top: 0%;
				 left: 0%;
		}
/*--------------------------------------------*/
/*.my_slider_mask{
	position: relative;
}*/
.my_slider_mask_1{
	position: absolute;
	height: 446px;
	width: 356px;
	background: red;
	
	z-index: 50;
	top: 0%;
	right: 0%;
	opacity: 0.2;
}
.my_slider_mask_2{
	position: absolute;
	border: 315px solid transparent;
	 border-right: 150px solid red;
	z-index: 50;
	top: -17%;
	right: 21%;
	opacity: 0.2;
}
.my_slider_mask_2:before{
	content: "";
	position: absolute;
	border: 107px solid transparent;
	 border-top: 239px solid green;
	z-index: -10;
	top: -235px;
	right: -109px;
	 
}
.my_slider_mask_2:after{
	content: "";
	position: absolute;
	background: yellow;

	height: 487px;
	width: 300px;
	transform: skew(-30deg);
	
	z-index: 25;
	top: -273px;
	right: -248px;
	 
	
}

.my_slider_mask_3{
	position: absolute;
	background: lime;
	height: 450px;
	width: 100px;
	transform: skew(30deg);	
	z-index: 25;
	top: 0px;
	right: 34%;	 
	opacity: 0.2;
}
.my_slider_mask_3:before{
	content: "";
	position: absolute;

	background: red;
	height: 450px;
	width: 10px;
	z-index: 25;
	top: 0px;
	right: 0%;	 
}

.slyder_text{
color: #ffffff;
font-family: "Open Sans";
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
text-align: right;
height: 100%;
width: 50%;
margin: 0 auto;
margin-top: 10%;
/*line-height: 2em;*/
}
.slyder_text span{
	line-height: 1%;
}

/*.slider_button>a{
	box-shadow: 0 3px 9px rgba(152, 152, 152, 0.35);
	background-color: #3dc8bd;
	padding: 15px 20px 15px 20px;
}*/

	.advantages{
		margin-top: 35px;
		text-align: center;
		
	}
	.advantages_item{
		position: relative;
	}
	.advantages_img:before{
		content: "";
		position: absolute;
		top: 0%;
		right: 0%;		
		/*z-index: 15;*/
		width: 1px;
		height: 60px;
		background-color: #868686;
		opacity: 0.3;
	}


@media screen and (max-width: 992px) {
    *:before {display:none}
}


		




/*	.advantages_item>img:before{
		content: "";
		height: 10px;
		width: 15px;
		border-right: solid 1px #868686;
		top: 0%;
		left: 0%;
	}*/

	.advantages div span{
		color: #4b5358;
		font-family: "Malgun Gothic";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.33px;
	}
		.advantages div img{
		margin-bottom: 30px;
	}
	.recommendation>h3,.reviews_and_quality h3,.news h3{
		border-bottom: solid 1px #3dc8bd;
		/*margin: 0px 0px 17px 0px;*/
		padding:0px 0px 17px 0px;
		margin-top: 20px;
		color: #3dc8bd;
		font-size: 16px;
		font-weight: bold;
		/*text-transform: uppercase;*/

	}
	.recommendation_item{
		/*width: 285px;*/
		/*height: 440px;*/
		text-align: center;
		/*padding: 65px 0 65px 0;
		margin: -65px 0 -65px 0;*/
	}
	.recommendation_item:hover{
		/*width: 285px;*/
		/*height: 440px;*/
		box-shadow: 0 3px 9px rgba(152, 152, 152, 0.35);
		background-color: #ffffff;
		z-index: 10;
	}
	.recommendation_item:hover>.recommendation_item_mark_new,.recommendation_item:hover>.recommendation_item_mark_top{
		display: none;
	}
	.recommendation_item_mark_info{
		/*width: 140px;
		height: 38px;*/
box-shadow: 0 3px 9px rgba(152, 152, 152, 0.35);
background-color: #3dc8bd;
color: white;
padding: 15px 25px 15px 25px;
text-decoration: none;
display: none;
	}
/*.recommendation_item:hover>.recommendation_item_mark_info,.recommendation_item:hover>.recommendation_item_mark_info{
		display: inline-block;
	}*/
	.recommendation_item:hover>div>.recommendation_item_mark_info{
		display: inline-block;
	}
	.recommendation_item>img{
		width: 240px;
		height: 240px;
	}
	.recommendation_item_mark_new{
		color: #3dc8bd;
		font-family: "Open Sans";
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.55px;
		border:solid 1px #3dc8bd;
		padding: 5px;	
		/*margin-bottom: 25px;*/
	}
	.recommendation_item_mark_top{
		color: #c60d46;
		font-family: "Open Sans";
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.55px;
		border:solid 1px #c60d46;
		padding: 5px;	
	}

	.owl-carousel .owl-stage-outer{

		padding: 50px 2px;
		margin: -50px -2px;
	}
.carousel_1{

}





	.carousel_1,.carousel_2,.carousel_3,.carousel_4{
		position: relative;
	}
	.carousel_1>.owl-dots {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 20; 
}
.carousel_3>.owl-dots {
  position: absolute;
  right: 0;
  top: 0%;
  z-index: 20; 
}
.carousel_4>.owl-dots {
  position: absolute;
  right: 0;
  top: -10%;
  z-index: 20; 
}
.owl-dots>span{
	 color: red;
}
.owl-prev{
	  position: absolute;
	  left: 0%;
	  top: 23%;
	  font-size: 50px;
	  color: red;
}
/*.owl-next{
	  position: absolute;
	  right: 0%;
	  top: 23%;
	  font-size: 50px;
}
.owl-prev>span{
	font-size: 150px;
}
.owl-next>span{
	font-size: 150px;
	color: #898d90;
	opacity: 0.5;
	
	width: 5px;
}*/
.owl-next{
	position: absolute;
top: 30%;
right: -30px;
width: 20px;
height: 20px;
border-left: 2px solid #c4c6c7;
border-bottom: 2px solid #c4c6c7;
transform: rotate(-135deg);
z-index: 15;
}





.reviews_and_quality>img{

}
.reviews_item{
text-align: center;
}
.reviews_item>img{
	opacity: 0.9;
	width: 175px;
}

.owl-carousel .owl-item .reviews_item>img {
    /* display: block; */
     width: auto;
     margin: 0 auto; 


}

.reviews_item>img{
	  /*width: 0%; */
	  /*text-align: center;*/
	  /*display: inline-block;*/
}

.ul_social_2>li>a{
	height: 25px;
	width: 25px;
	/*background: red;*/
	margin: 5px;

}

.ul_social_2>li{
	display: flex;
	 display: inline-flex;
}
.ul_social_2 a{			
			background: url('../img/css_sprites.png');
}

		.ul_social_2 li a{
			background-position: -10px -10px;
		}
		.ul_social_2 li+li a{
			background-position: 502px -10px;
		}
		.ul_social_2 li+li+li a{
			background-position: 462px -10px;
		}
		.ul_social_2 li+li+li+li a{
			background-position: 462px -10px;
		}

.footer{
	background-image: linear-gradient(to bottom, rgba(223, 227, 230, 0.4) 0%, #ffffff 100%);
}